{% extends 'mailing/base.html' %}
{% block content %}

<div class="container">
      <div class="row text-center">

        <div class="col-6">

                <div class="card-body">
                    <div class="card-header">
                        <h6 class="display-6">Сообщение</h6>
                    </div>

                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>
                            Тема: {{ object.title }}
                        </li>
                        <li>Содержимое: {{ object.body }}</li>
                    </ul>
                    <a class="btn btn-warning" href="" role="button">Изменить</a>
                    <a class="btn btn-danger" href="{% url 'mailing:letter_delete' object.pk %}" role="button">Удалить</a>
                    <a class="btn btn-primary" href="{% url 'mailing:letter_list' %}" role="button">Назад</a>
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock %}