{% extends 'mailing/base.html' %}
{% block content %}
<div class="container">
     <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Статистика</h4>
                </div>
                <div class="card-body">
<!--                    <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light">/mo</small></h1>-->
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Посмотреть статистику</li>
                        <li>отправки писем</li>
                    </ul>
                    <button type="button" href="{% url 'mailing:client_list' %}" class="w-100 btn btn-lg btn-primary">Посмотреть</button>
                </div>
            </div>
        </div>
    <a class="btn btn-outline-primary" href="{% url 'mailing:mail_create' %}">Создать рассылку</a>
</div>
<br>
<div class="container">
      <div class="row text-center">
      {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {{ object.title }}
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href="{% url 'mailing:mail_view' object.pk %}" role="button">Посмотреть</a>
                    <a class="btn btn-warning" href="{% url 'mailing:mail_edit' object.pk %}" role="button">Изменить</a>
                    <a class="btn btn-danger" href="{% url 'mailing:mail_delete' object.pk %}" role="button">Удалить</a>
                </div>
            </div>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}